@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600;700&display=swap");

@layer base {
	@font-face {
		font-family: "LPMQ";
		src: url("fonts/LPMQ IsepMisbah.ttf");
	}

	:root {
		font-family: "Quicksand", sans-serif;
	}
}
